.main .inner .box {
    position: absolute;
    top: 100px;
}
.main .inner .box label {
    display: block;
    width: 320px;
    margin-top: 10px;
}
.main .inner .box label input {
    margin-top: 10px;
}
.main .inner .button {
    margin-top: 20px;
    font-weight: 700;
}