<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://kit.fontawesome.com/87140d707c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gasoek+One&family=Orbit&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="/basic/basic.css">
</head>
<body>

<div class="nav">
    <div class="left navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
            <i class="fa-solid fa-bars"></i>
        </a>

        <div class="navbar-dropdown">
            <a href="/usr/me" class="navbar-item" sec:authorize="isAuthenticated()">
                마이 페이지
            </a>
            <a href="/usr/signin" class="navbar-item" sec:authorize="isAnonymous()">
                로그인
            </a>
            <a class="navbar-item" sec:authorize="isAuthenticated()" onclick="document.querySelector('#logout-form').submit(); return false;">
                로그아웃
            </a>
            <form id="logout-form" th:action="|/usr/logout|" method="POST"></form>
        </div>
    </div>

    <a href="/" class="logo">Heartmon</a>

    <div class="right"></div>
</div>

<main layout:fragment="main"></main>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script th:inline="javascript">
    function notice(msg) {
        Toastify({
            text: msg,
            close: true,
            style: {
                background: "none",
                backgroundColor: "#6a80ff",
                marginTop: "60px",
                minWidth: "250px",
                textAlign: "right"
            }
        }).showToast();
    }

    function warn(msg) {
        Toastify({
            text: msg,
            close: true,
            style: {
                background: "none",
                backgroundColor: "#ffb71e",
                marginTop: "60px",
                minWidth: "250px",
                textAlign: "right"
            }
        }).showToast();
    }

    const params = /*[[ ${param} ]]*/ null;

    if (params.msg) {
        notice(params.msg[0]);
    }

    if (params.errorMsg) {
        warn(params.errorMsg[0]);
    }

    $(window).bind("pageshow", function (event) {
        const localStorageKeyAboutHistoryBackErrorMsg = "historyBackErrorMsg___" + location.href;

        if (localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg)) {
            warn(localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg));
            localStorage.removeItem(localStorageKeyAboutHistoryBackErrorMsg);
        }
    });
</script>

</body>
</html>