html {
    background-color: #e5e8fa;
}
body {
    position: relative;
    font-family: 'Orbit', sans-serif;
    color: #333;
    width: 425px;
    height: 845px;
    font-size: 16px;
    margin: auto;
}
a {
    color: #333;
    text-decoration: none;
}
.nav {
    position: relative;
    background-color: #485fc7;
    top: 0;
    width: 425px;
    height: 65px;
    text-align: center;
}
.nav i {
    font-size: 22px;
    color: #fff;
}
.nav .navbar-link:hover i {
    color: #485fc7;
}
.nav .left {
    position: absolute;
    left: 20px;
    top: 10px;
}
.nav .logo {
    position: absolute;
    font-family: 'Gasoek One', sans-serif;
    font-size: 24px;
    color: #fff;
    top: 12px;
    left: 145px;
}
.nav .right {
    position: absolute;
    right: 20px;
    top: 10px;
}
.main {
    background-color: #fff;
    position: absolute;
    margin: auto;
    width: 425px;
    min-height: 780px;
    bottom: 0;
}
.main .inner {
    position: relative;
    width: 365px;
    height: 720px;
    top: 30px;
    left: 30px;
    margin: 0;
}
.main .inner .button {
    font-weight: 700;
}
.main .inner .box i {
    margin-right: 8px;
}
.main .inner .box input {
    margin-top: 20px;
}
