<html lang="ko" layout:decorate="~{common/layout.html}">
<head>
    <link rel="stylesheet" href="/usr/signin.css">
    <title>Sign in | Heartmon</title>
</head>
<body>

<main layout:fragment="main" class="main">
    <div class="inner">
        <form class="box" th:action method="POST">
            <label for="username">
                <p><i class="fa-solid fa-user-large"></i>/ 아이디</p>
                <input type="text" id="username" name="username" class="input is-medium">
            </label>
            <label for="password">
                <p><i class="fa-solid fa-lock"></i>/ 비밀번호</p>
                <input type="password" id="password" name="password" class="input is-medium">
            </label>
        </form>

        <div class="btn-group">
            <button class="button is-link is-fullwidth is-medium">로그인</button>
            <a href="/usr/signup" class="button is-link is-light is-fullwidth is-medium">회원가입</a>
        </div>
    </div>
</main>

</body>
</html>