<html lang="ko" layout:decorate="~{common/layout.html}">
<head>
    <link rel="stylesheet" href="/usr/signup.css">
    <title>Sign Up | Heartmon</title>
</head>
<body>

<main layout:fragment="main" class="main">

    <script>
        function signup__submit(form) {
            let username = form.username.value.trim();
            let password1 = form.password1.value.trim();
            let password2 = form.password2.value.trim();

            if (username.length < 4) {
                warn("아이디는 4자 이상 30자 이하입니다.");
                form.username.focus();
                return;
            }

            if (password1.length < 6) {
                warn("비밀번호는 6자 이상 30자 이하입니다.");
                form.password1.focus();
                return;
            } else if (password2.length < 6) {
                warn("비밀번호는 6자 이상 30자 이하입니다.");
                form.password2.focus();
                return;
            }

            if (password2 != password1) {
                warn("비밀번호를 확인해주세요.");
                form.password2.focus();
                return;
            }

            const result = {
                username : username,
                password: password1
            }

            axios.post('/usr/signup', result)
                .then(function (response) {
                    sessionStorage.setItem("signup", "회원가입이 완료되었습니다.");
                    window.location.href='/usr/signin';
                    setTimeout("location.reload()", 200);
                })
                .catch(function (error) {
                    warn("이미 등록된 아이디입니다.");
                });
        }
    </script>

    <div class="inner">
        <form class="box" th:action method="POST" onsubmit="signup__submit(this); return false;">
            <label for="username">
                <p><i class="fa-solid fa-user-large"></i>/ 아이디</p>
                <input type="text" id="username" name="username" maxlength="30" class="input is-medium"
                       placeholder="heartmon">
            </label>
            <label for="password1">
                <p><i class="fa-solid fa-lock"></i>/ 비밀번호</p>
                <input type="password" id="password1" name="password1" maxlength="30" class="input is-medium"
                       placeholder="********">
            </label>
            <label for="password2">
                <p><i class="fa-solid fa-lock"></i>/ 비밀번호 확인</p>
                <input type="password" id="password2" name="password2" maxlength="30" class="input is-medium"
                       placeholder="********">
            </label>
            <input type="submit" class="button is-link is-fullwidth is-medium"  value="회원가입 완료">
        </form>
    </div>
</main>

</body>
</html>